html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 156, 53);
}

.title {
    color: white;
    text-align: center;
}
.game-layout {
    text-align: center;
    margin-top: 20px;
}