html, body {
    margin: 0;
    padding: 0;
    background: linear-gradient(0.25turn, #2c2c2c, #094d01);
}

.title {
    color: white;
    text-align: center;
}
.game-layout {
    text-align: center;
    margin-top: 20px;
}